@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

@import "owl.carousel";

body {
  margin: 0;
  background-color: rgb(223, 222, 222);
  font-family: "Inter", sans-serif;
  margin-top: 50px;
}
@media only screen and (max-width: 600px) {
  body {
  }
}
#app {
  position: relative;
  .app-wrapper {
    width: 1460px;
    max-width: 95%;
    margin: 0 auto;
    overflow: hidden;
    background-color: white;
    .page-title {
      margin: 0;
      color: #535353;
      padding: 15px;
      padding-left: 27px;
    }
    @media only screen and (max-width: 600px) {
      .page-title {
        font-size: 20px;
        margin: 0;
        padding: 15px;
      }
    }
    .page-content {
      display: flex;
      min-height: 450px;
      max-height: 400px;
      .header {
        min-width: 300px;
        padding-left: 17px;
        margin-right: 20px;
        .header-item {
          padding: 15px;
          cursor: pointer;
          &.selected {
            background-color: #eef7fd;
            position: relative;
            color: #2249ba;
            border-radius: 5px;
            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: -20px;
              background-color: #2249ba;
              width: 8px;
              height: 100%;
              border-radius: 50px;
            }
          }
        }
      }
      @media only screen and (max-width: 600px) {
        .header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 100%;
          padding: 0;
          width: 100%;
          border-bottom: 1px solid #d3d3d3;
          overflow-x: scroll;
          &::-webkit-scrollbar {
            display: none;
          }
          .header-item {
            width: auto;
            color: #828282;
            -webkit-line-clamp: 1;
            white-space: nowrap;
            font-size: 16px;
            padding: 15px;
            border: none;
            &::before {
              display: none;
            }
            &.selected {
              background-color: transparent;
              color: #535353;
              border-bottom: 2px solid #2249ba;
              border-radius: 0px;
            }
          }
        }
      }
      .products {
        width: calc(100% - 300px);
        overflow: hidden;
        width: 100%;
        min-height: 100%;

        &-container {
          display: flex;
          width: 100%;
          min-height: 100%;
          min-height: 100%;
          @import "./product-card";
          padding-bottom: 30px;
        }
        .owl-nav {
          .owl-next,
          .owl-prev {
            position: absolute;
            top: 20%;
            transform: translate(-50%);
            width: 60px;
            height: 60px;
            background-color: white;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #ececec;
            &:hover {
              span {
                color: #828282;
              }
            }

            span {
              font-size: 30px;
              color: #ececec;
              margin-bottom: 3px;
            }
          }
          .owl-prev {
            left: 0px;
            span {
              margin-left: 14px;
            }
          }
          .owl-next {
            right: -55px;
            span {
              margin-right: 14px;
            }
          }
        }
      }
    }
    @media only screen and (max-width: 600px) {
      .page-content {
        display: block;
        height: auto;
        width: 100%;
        .products {
          padding: 10px;
        }
        .owl-nav {
          display: none;
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  #app {
  }
  .app-wrapper {
    padding: 0;
    margin: 0 auto;
    width: 90%;
    border-radius: 5px;
  }
}

.add-basket-popup {
  display: flex;
  position: fixed;
  width: 300px;
  justify-content: space-between;
  align-items: center;
  bottom: 20px;
  right: 0px;
  background-color: #201f1f;
  border-radius: 5px;
  padding: 10px;
  color: white;
  transition: 300ms;

  .first {
    display: flex;
    justify-content: center;
    align-items: center;
    .icon {
      background-color: yellowgreen;
      border-radius: 999px;
      width: 20px;
      height: 20px;
      margin-right: 10px;
      overflow: hidden;
      padding-bottom: 3px;
      padding-right: 2px;
      svg {
        width: 100%;
        height: 100%;
      }
    }
    .content {
      margin-right: 20px;
      font-size: 13px;
      p {
        margin: 0;
        padding: 0;
        cursor: alias;
      }
      a {
        text-decoration: none;
        color: #9eaedc;
        margin-top: 3px;
      }
    }
  }
  .back {
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
}

@media only screen and (max-width: 600px) {
  .add-basket-popup {
    width: 250px;
    padding: 6px 10px;
  }
}
